* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-weight: normal;
    font-style: normal
}

body {
    font-size:100% ;
    font: 16px/1.5 Tahoma,Helvetica,Arial,'宋体',sans-serif;
    line-height: 1;
}
div#title {
    width: 100%;
    font: 12px/1.5 Tahoma,Helvetica,Arial,'宋体',sans-serif;
    color: #393e4f;
    text-align: center;
    font-size: 2.2em;
}
.content {
    color: #393e4f;
    margin: 0 auto;
    width: 100%;
    float: left;
}
li{
    text-align:center;
    font: 16px/1.5 Tahoma,Helvetica,Arial,'宋体',sans-serif;
    font-family: "Times New Roman", Times, serif;
}
p {
    width: 90%;
    height: 25%;
    font: 12px/1.5 Tahoma,Helvetica,Arial,'宋体',sans-serif;
    font-family: "Times New Roman", Times, serif;
    color: #393e4f;
    margin-right: 10px;
    letter-spacing: 3px;
    line-height: 150%;
    margin: 0 auto;
    font-size: 1.3em;
}

.demo {
    width: 90%;
    height: 100%;
    margin: 0 auto; /*CSS才是水平居中全靠他了*/
}

.imgstar {
    width: 90%;
    height: 100%;
    margin: 0 auto; 
    text-align: center;
}

#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

    #myImg:hover {    
        opacity: 0.7
    }


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;    /*初始图片位置*/
    top: 0;    /*初始图片位置*/
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9) /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 100%;
    max-width: 100%;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px
}

/* Add Animation */
.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0)
    }

    to {
        -webkit-transform: scale(1)
    }
}

@keyframes zoom {
    from {
        transform: scale(0.1)
    }

    to {
        transform: scale(1)
    }
}

/* The Close Button */
.close {
    position: absolute;
    top: 5%;
    right:49%;
    color: #f1f1f1;
    font-size: 1.2em;
    font-weight: bold;
    transition: 0.3s
}

    .close:hover,
    .close:focus {
        color: #bbb;
        text-decoration: none;
        cursor: pointer
    }

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%
    }
}
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

    .tooltip .tooltiptext {
        visibility: hidden;
        width: 220px;
        background-color: black;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        position: absolute;
        z-index: 1;
        bottom: 100%;
        left: 50%;
        margin-left: -60px;
        /* 淡入 - 1秒内从 0% 到 100% 显示: */
        opacity: 0;
        transition: opacity 1s;
    }

        .tooltip .tooltiptext::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: black transparent transparent transparent;
        }

    .tooltip:hover .tooltiptext {
        visibility: visible;
        opacity: 1;
    }
    
